In [1]:
# Import requests library
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
import json
from pandas.io.json import json_normalize

In [10]:
import requests

url = "https://travelpayouts-travelpayouts-flight-data-v1.p.rapidapi.com/v1/prices/calendar"

querystring = {"calendar_type":"departure_date","destination":"BAN","origin":"BER","depart_date":"2020-03-04","currency":"EUR"}

headers = {
	"X-Access-Token": "87ebfac8abf48390faad848a0a10fb48",
	"X-RapidAPI-Host": "travelpayouts-travelpayouts-flight-data-v1.p.rapidapi.com",
	"X-RapidAPI-Key": "9a91d30288mshe8ef7d16db4b168p1a6634jsnb3ce38ae86d7"
}

response = requests.request("GET", url, headers=headers, params=querystring)

print(response.text)

{"success":true,"data":{},"currency":"EUR"}

In [4]:
response.json()

{'success': True,
 'data': {'2023-03-08': {'origin': 'BER',
   'destination': 'IND',
   'price': 782,
   'airline': 'LH',
   'flight_number': 9215,
   'departure_at': '2023-03-08T13:45:00+01:00',
   'return_at': '2023-03-15T08:00:00-04:00',
   'transfers': 2,
   'expires_at': '2023-03-04T15:45:20Z'},
  '2023-03-15': {'origin': 'BER',
   'destination': 'IND',
   'price': 1160,
   'airline': 'I2',
   'flight_number': 3677,
   'departure_at': '2023-03-15T11:40:00+01:00',
   'return_at': '2023-03-17T16:58:00-04:00',
   'transfers': 2,
   'expires_at': '2023-03-04T15:45:20Z'},
  '2023-03-18': {'origin': 'BER',
   'destination': 'IND',
   'price': 1206,
   'airline': 'AF',
   'flight_number': 1735,
   'departure_at': '2023-03-18T12:45:00+01:00',
   'return_at': '2023-03-22T19:16:00-04:00',
   'transfers': 2,
   'expires_at': '2023-03-04T15:45:20Z'},
  '2023-03-19': {'origin': 'BER',
   'destination': 'IND',
   'price': 1305,
   'airline': 'LX',
   'flight_number': 979,
   'departure_at': '2023-03-19T20:30:00+01:00',
   'return_at': '2023-03-23T11:22:00-04:00',
   'transfers': 2,
   'expires_at': '2023-03-04T15:45:20Z'},
  '2023-03-20': {'origin': 'BER',
   'destination': 'IND',
   'price': 977,
   'airline': 'KL',
   'flight_number': 9371,
   'departure_at': '2023-03-20T14:30:00+01:00',
   'return_at': '2023-03-24T19:16:00-04:00',
   'transfers': 2,
   'expires_at': '2023-03-04T15:45:20Z'},
  '2023-03-24': {'origin': 'BER',
   'destination': 'IND',
   'price': 771,
   'airline': 'KL',
   'flight_number': 1818,
   'departure_at': '2023-03-24T06:00:00+01:00',
   'return_at': '2023-03-31T19:16:00-04:00',
   'transfers': 2,
   'expires_at': '2023-03-04T15:45:20Z'},
  '2023-03-25': {'origin': 'BER',
   'destination': 'IND',
   'price': 957,
   'airline': 'LH',
   'flight_number': 189,
   'departure_at': '2023-03-25T13:45:00+01:00',
   'return_at': '2023-03-31T07:45:00-04:00',
   'transfers': 2,
   'expires_at': '2023-03-04T15:45:20Z'},
  '2023-04-01': {'origin': 'BER',
   'destination': 'IND',
   'price': 1115,
   'airline': 'LH',
   'flight_number': 201,
   'departure_at': '2023-04-01T19:45:00+02:00',
   'return_at': '2023-04-07T10:30:00-04:00',
   'transfers': 2,
   'expires_at': '2023-03-04T15:45:20Z'},
  '2023-04-02': {'origin': 'BER',
   'destination': 'IND',
   'price': 949,
   'airline': 'BA',
   'flight_number': 995,
   'departure_at': '2023-04-02T20:55:00+02:00',
   'return_at': '2023-04-08T14:45:00-04:00',
   'transfers': 2,
   'expires_at': '2023-03-04T15:45:20Z'},
  '2023-04-13': {'origin': 'BER',
   'destination': 'IND',
   'price': 734,
   'airline': 'LH',
   'flight_number': 181,
   'departure_at': '2023-04-13T09:45:00+02:00',
   'return_at': '2023-04-20T07:45:00-04:00',
   'transfers': 2,
   'expires_at': '2023-03-04T15:45:20Z'},
  '2023-04-22': {'origin': 'BER',
   'destination': 'IND',
   'price': 643,
   'airline': 'LH',
   'flight_number': 9182,
   'departure_at': '2023-04-22T07:20:00+02:00',
   'return_at': '2023-05-06T16:20:00-04:00',
   'transfers': 2,
   'expires_at': '2023-03-04T15:45:20Z'},
  '2023-05-01': {'origin': 'BER',
   'destination': 'IND',
   'price': 933,
   'airline': '',
   'flight_number': 1674,
   'departure_at': '2023-05-01T15:05:00+02:00',
   'return_at': '2023-05-31T09:17:00-04:00',
   'transfers': 2,
   'expires_at': '2023-03-04T15:45:20Z'},
  '2023-05-31': {'origin': 'BER',
   'destination': 'IND',
   'price': 661,
   'airline': 'DL',
   'flight_number': 3847,
   'departure_at': '2023-05-31T10:20:00+02:00',
   'return_at': '2023-06-04T07:00:00-04:00',
   'transfers': 1,
   'expires_at': '2023-03-04T15:45:20Z'},
  '2023-06-03': {'origin': 'BER',
   'destination': 'IND',
   'price': 661,
   'airline': 'DL',
   'flight_number': 93,
   'departure_at': '2023-06-03T10:20:00+02:00',
   'return_at': '2023-06-07T11:59:00-04:00',
   'transfers': 1,
   'expires_at': '2023-03-04T15:45:20Z'},
  '2023-06-06': {'origin': 'BER',
   'destination': 'IND',
   'price': 581,
   'airline': 'DL',
   'flight_number': 3847,
   'departure_at': '2023-06-06T10:20:00+02:00',
   'return_at': '2023-06-25T07:05:00-04:00',
   'transfers': 1,
   'expires_at': '2023-03-04T15:45:20Z'},
  '2023-09-17': {'origin': 'BER',
   'destination': 'IND',
   'price': 1325,
   'airline': 'LH',
   'flight_number': 1937,
   'departure_at': '2023-09-17T12:50:00+02:00',
   'return_at': '2023-09-20T11:41:00-04:00',
   'transfers': 2,
   'expires_at': '2023-03-04T15:45:20Z'},
  '2023-12-01': {'origin': 'BER',
   'destination': 'IND',
   'price': 663,
   'airline': 'DL',
   'flight_number': 93,
   'departure_at': '2023-12-01T10:20:00+01:00',
   'return_at': '2023-12-02T16:40:00-05:00',
   'transfers': 1,
   'expires_at': '2023-03-04T15:45:20Z'},
  '2023-12-19': {'origin': 'BER',
   'destination': 'IND',
   'price': 881,
   'airline': 'BA',
   'flight_number': 997,
   'departure_at': '2023-12-19T09:10:00+01:00',
   'return_at': '2023-12-22T17:20:00-05:00',
   'transfers': 2,
   'expires_at': '2023-03-04T15:45:20Z'}},
 'currency': 'EUR'}

In [5]:
dates_of_flights = list(response.json()['data'].keys())

In [6]:
response.json()['data'][dates_of_flights[0]]

{'origin': 'BER',
 'destination': 'IND',
 'price': 782,
 'airline': 'LH',
 'flight_number': 9215,
 'departure_at': '2023-03-08T13:45:00+01:00',
 'return_at': '2023-03-15T08:00:00-04:00',
 'transfers': 2,
 'expires_at': '2023-03-04T15:45:20Z'}

In [7]:
flights = pd.DataFrame(columns=['origin', 'destination', 'price', 'airline', 'flight_number',
       'departure_at', 'return_at', 'transfers', 'expires_at'])

In [8]:
for i in range(len(dates_of_flights)):
    flights = flights.append(pd.json_normalize(response.json()['data'][dates_of_flights[i]]))

/var/folders/13/9ymrqm694sz5_g2ct_qmw0gm0000gn/T/ipykernel_7797/3748155414.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  flights = flights.append(pd.json_normalize(response.json()['data'][dates_of_flights[i]]))
/var/folders/13/9ymrqm694sz5_g2ct_qmw0gm0000gn/T/ipykernel_7797/3748155414.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  flights = flights.append(pd.json_normalize(response.json()['data'][dates_of_flights[i]]))
/var/folders/13/9ymrqm694sz5_g2ct_qmw0gm0000gn/T/ipykernel_7797/3748155414.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  flights = flights.append(pd.json_normalize(response.json()['data'][dates_of_flights[i]]))
/var/folders/13/9ymrqm694sz5_g2ct_qmw0gm0000gn/T/ipykernel_7797/3748155414.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  flights = flights.append(pd.json_normalize(response.json()['data'][dates_of_flights[i]]))
/var/folders/13/9ymrqm694sz5_g2ct_qmw0gm0000gn/T/ipykernel_7797/3748155414.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  flights = flights.append(pd.json_normalize(response.json()['data'][dates_of_flights[i]]))
/var/folders/13/9ymrqm694sz5_g2ct_qmw0gm0000gn/T/ipykernel_7797/3748155414.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  flights = flights.append(pd.json_normalize(response.json()['data'][dates_of_flights[i]]))
/var/folders/13/9ymrqm694sz5_g2ct_qmw0gm0000gn/T/ipykernel_7797/3748155414.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  flights = flights.append(pd.json_normalize(response.json()['data'][dates_of_flights[i]]))
/var/folders/13/9ymrqm694sz5_g2ct_qmw0gm0000gn/T/ipykernel_7797/3748155414.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  flights = flights.append(pd.json_normalize(response.json()['data'][dates_of_flights[i]]))
/var/folders/13/9ymrqm694sz5_g2ct_qmw0gm0000gn/T/ipykernel_7797/3748155414.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  flights = flights.append(pd.json_normalize(response.json()['data'][dates_of_flights[i]]))
/var/folders/13/9ymrqm694sz5_g2ct_qmw0gm0000gn/T/ipykernel_7797/3748155414.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  flights = flights.append(pd.json_normalize(response.json()['data'][dates_of_flights[i]]))
/var/folders/13/9ymrqm694sz5_g2ct_qmw0gm0000gn/T/ipykernel_7797/3748155414.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  flights = flights.append(pd.json_normalize(response.json()['data'][dates_of_flights[i]]))
/var/folders/13/9ymrqm694sz5_g2ct_qmw0gm0000gn/T/ipykernel_7797/3748155414.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  flights = flights.append(pd.json_normalize(response.json()['data'][dates_of_flights[i]]))
/var/folders/13/9ymrqm694sz5_g2ct_qmw0gm0000gn/T/ipykernel_7797/3748155414.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  flights = flights.append(pd.json_normalize(response.json()['data'][dates_of_flights[i]]))
/var/folders/13/9ymrqm694sz5_g2ct_qmw0gm0000gn/T/ipykernel_7797/3748155414.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  flights = flights.append(pd.json_normalize(response.json()['data'][dates_of_flights[i]]))
/var/folders/13/9ymrqm694sz5_g2ct_qmw0gm0000gn/T/ipykernel_7797/3748155414.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  flights = flights.append(pd.json_normalize(response.json()['data'][dates_of_flights[i]]))
/var/folders/13/9ymrqm694sz5_g2ct_qmw0gm0000gn/T/ipykernel_7797/3748155414.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  flights = flights.append(pd.json_normalize(response.json()['data'][dates_of_flights[i]]))
/var/folders/13/9ymrqm694sz5_g2ct_qmw0gm0000gn/T/ipykernel_7797/3748155414.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  flights = flights.append(pd.json_normalize(response.json()['data'][dates_of_flights[i]]))
/var/folders/13/9ymrqm694sz5_g2ct_qmw0gm0000gn/T/ipykernel_7797/3748155414.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  flights = flights.append(pd.json_normalize(response.json()['data'][dates_of_flights[i]]))

In [9]:
flights

,origin,destination,price,airline,flight_number,departure_at,return_at,transfers,expires_at
0,BER,IND,782,LH,9215,2023-03-08T13:45:00+01:00,2023-03-15T08:00:00-04:00,2,2023-03-04T15:45:20Z
0,BER,IND,1160,I2,3677,2023-03-15T11:40:00+01:00,2023-03-17T16:58:00-04:00,2,2023-03-04T15:45:20Z
0,BER,IND,1206,AF,1735,2023-03-18T12:45:00+01:00,2023-03-22T19:16:00-04:00,2,2023-03-04T15:45:20Z
0,BER,IND,1305,LX,979,2023-03-19T20:30:00+01:00,2023-03-23T11:22:00-04:00,2,2023-03-04T15:45:20Z
0,BER,IND,977,KL,9371,2023-03-20T14:30:00+01:00,2023-03-24T19:16:00-04:00,2,2023-03-04T15:45:20Z
0,BER,IND,771,KL,1818,2023-03-24T06:00:00+01:00,2023-03-31T19:16:00-04:00,2,2023-03-04T15:45:20Z
0,BER,IND,957,LH,189,2023-03-25T13:45:00+01:00,2023-03-31T07:45:00-04:00,2,2023-03-04T15:45:20Z
0,BER,IND,1115,LH,201,2023-04-01T19:45:00+02:00,2023-04-07T10:30:00-04:00,2,2023-03-04T15:45:20Z
0,BER,IND,949,BA,995,2023-04-02T20:55:00+02:00,2023-04-08T14:45:00-04:00,2,2023-03-04T15:45:20Z
0,BER,IND,734,LH,181,2023-04-13T09:45:00+02:00,2023-04-20T07:45:00-04:00,2,2023-03-04T15:45:20Z
0,BER,IND,643,LH,9182,2023-04-22T07:20:00+02:00,2023-05-06T16:20:00-04:00,2,2023-03-04T15:45:20Z
0,BER,IND,933,,1674,2023-05-01T15:05:00+02:00,2023-05-31T09:17:00-04:00,2,2023-03-04T15:45:20Z
0,BER,IND,661,DL,3847,2023-05-31T10:20:00+02:00,2023-06-04T07:00:00-04:00,1,2023-03-04T15:45:20Z
0,BER,IND,661,DL,93,2023-06-03T10:20:00+02:00,2023-06-07T11:59:00-04:00,1,2023-03-04T15:45:20Z
0,BER,IND,581,DL,3847,2023-06-06T10:20:00+02:00,2023-06-25T07:05:00-04:00,1,2023-03-04T15:45:20Z
0,BER,IND,1325,LH,1937,2023-09-17T12:50:00+02:00,2023-09-20T11:41:00-04:00,2,2023-03-04T15:45:20Z
0,BER,IND,663,DL,93,2023-12-01T10:20:00+01:00,2023-12-02T16:40:00-05:00,1,2023-03-04T15:45:20Z
0,BER,IND,881,BA,997,2023-12-19T09:10:00+01:00,2023-12-22T17:20:00-05:00,2,2023-03-04T15:45:20Z